<div class="cart-item">
  <a class="item-image-link" (click)="onLinkClick()">
    <img [src]="item().imageUrl" [alt]="item().productName" />
  </a>
  <div class="item-details">
    <a class="item-name-link" (click)="onLinkClick()">
      <h3>{{ item().productName }}</h3>
    </a>
    <p>Unit Price: {{ currency() }} {{ item().unitPrice.toFixed(2) }}</p>
    <p class="line-total">Total: {{ currency() }} {{ item().lineTotal.toFixed(2) }}</p>
    <div class="item-actions">
      <app-quantity-selector
        [quantity]="item().quantity"
        (quantityChange)="onQuantityChange($event)"
        data-testid="quantity-selector"
      />
      <app-button (click)="onRemove()" size="sm" variant="danger" data-testid="remove-btn"
        >Remove</app-button
      >
    </div>
  </div>
</div>
