.app-shell {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: clip;
  background: var(--color-surface-primary);
  color: var(--color-text-primary);
}

.app-container {
  flex: 1;
  width: 100%;
  /* max-width: 1440px; */
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--space-responsive-md);
  box-sizing: border-box;

  app-breadcrumb {
    display: block;
    margin-bottom: var(--space-md);
  }
}
