@use '../../../../styles/tokens' as tokens;

.form-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-4);

  @include tokens.media-xs {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
