@use '../../../styles/mixins' as *;

.product-title-mobile {
  font-size: var(--font-size-xl);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-primary);
  line-height: var(--line-height-tight);
  margin: 0 0 var(--space-6);

  @include media-lg {
    display: none;
  }
}

.product-layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto;
  gap: var(--space-responsive-md);
  align-items: start;
  .gallery-section {
    height: 100%;
  }

  @include media-lg {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(auto, 600px) auto;

    .gallery-section {
      grid-column: 1/3;
      grid-row: 1;
    }

    app-product-buy-box {
      grid-column: 3;
      grid-row: 1;
    }

    app-product-info {
      grid-column: 1 / -1;
      grid-row: 2;
    }
  }

  @include media-xl {
    grid-template-columns: repeat(3, 1fr);

    .gallery-section {
      grid-column: 1/3;
      grid-row: 1;
    }

    app-product-info {
      grid-column: 1 / -1;
      grid-row: 2;
    }

    app-product-buy-box {
      grid-column: 3;
      grid-row: 1;
    }
  }
}
