@use '../../../../styles/mixins' as *;

.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, var(--overlay-opacity-light));
  z-index: var(--z-index-overlay);
  animation: fadeIn 0.3s ease-in-out;

  @include media-md {
    background-color: rgba(0, 0, 0, var(--overlay-opacity-medium));
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
