<div class="carousel-container">
  <div class="carousel-wrapper">
    @for (slide of slides(); track slide.id) {
      <div
        class="carousel-slide"
        [class.slide-left]="$index === leftSlideIndex()"
        [class.slide-current]="$index === currentIndex()"
        [class.slide-right]="$index === rightSlideIndex()"
      >
        <img [src]="slide.imageUrl" [alt]="slide.alt" class="carousel-image" />
      </div>
    }

    <app-navigation-arrow
      class="carousel-arrow carousel-arrow--left"
      direction="left"
      ariaLabel="Previous slide"
      [disabled]="!canNavigate()"
      (clicked)="goToPrevious()"
    />

    <app-navigation-arrow
      class="carousel-arrow carousel-arrow--right"
      direction="right"
      ariaLabel="Next slide"
      [disabled]="!canNavigate()"
      (clicked)="goToNext()"
    />
  </div>
</div>
